ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.designers {
  /* background-color: red; */
  height: 63vh;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}

.designers .designers-title {
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.designers .designers-title h2 {
  padding: 10px;
}

.designers-container {
  width: 70%;
  height: 80%;
  margin: 10px auto;
}

.designers-container-cards {
  width: 95%;
  height: 80%;
  margin: 11% auto;
  display: flex;

  /* flex-direction: row; */

  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.designers-container-cards .designers-card {
  min-width: 90%;
  margin: 0 10px;
  min-height: 100%;
  border-radius: 20px;
  padding: 10px;
  background-color: white;

  scroll-snap-align: center;
}

.designer-img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.designer-img img {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  position: relative;
  transition: all 0.3s;
}

.designers-card .data {
  display: none;
}
