ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.designers {
  /* background-color: red; */
  height: 63vh;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}

.designers .designers-title {
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.designers .designers-title h2 {
  padding: 10px;
}

/*Card*/
.designers-container-cards {
  display: flex;
  margin: 20px;
  margin-top: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.designers-card {
  /* background-color: blanchedalmond; */
}

.designers-card-div {
  background-image: url("../../source/imgs/fnd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 65vw;
  height: 40vh;
  margin: 15px;
  border-radius: 10px;
}

.designers-card-div .img {
  height: 85%;
  margin: 10px auto;
  margin-bottom: 0;
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.designers-card-div .img .designer-img {
  width: 70%;
  height: 111%;
  margin: 5px auto;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgb(255, 255, 255);
}

.designers-card-div .data {
  display: flex;
  margin-top: 0;
  justify-content: center;
}
.designers-card-div .data a {
  color: black;
  font-size: 30px;
  padding: 2px;
  font-family: montic;
  font-weight: bold;
  /* transform: translateY(-40px); */
}

/* --------------hover--------------*/
