ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.designers {
  /* background-color: red; */
  height: 63vh;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}

.designers .designers-title {
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.designers .designers-title h2 {
  padding: 10px;
}

/*Card*/
.designers-container-cards {
  display: flex;
  margin: 20px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.designers-card {
  /* background-color: blanchedalmond; */
  scroll-snap-align: center;
}

.designers-card-div {
  /* background-color: white; */
  width: 80vw;
  height: 40vh;
  margin: 15px;
  border-radius: 10px;
}

.designers-card-div .img {
  background-color: white;
  width: 80%;
  height: 80%;
  margin: 10px auto;
  margin-bottom: 0;
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.designers-card-div .img .designer-img {
  width: 140px;
  height: 190px;
  margin: 10px auto;
}

.designers-card-div .data {
  background-color: white;
  margin: 10px;
  margin-top: 0;
  display: flex;
  margin-top: 0;
  justify-content: center;
  border-radius: 10px;
}
.designers-card-div .data a {
  color: black;
  font-size: 30px;
  padding: 2px;
}

/* --------------hover--------------*/

/* .designers-container-cards {
  width: 95%;
  height: 80%;
  margin: 11% auto;
  display: flex;
  justify-content: space-between;


  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.designers-card {
  min-width: 70%;
  margin: 0 10px;
  min-height: 100%;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  scroll-snap-align: center;
}

.designer-img {
  width: 40%;
}

.designers-card .data {
  display: block;
} */
